<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>BioBLESS - iGEM USTC Software 2015</title>
</head>
<body>
<div id="wmd-preview" class="wmd-preview"><div class="md-section-divider"></div><p data-anchor-id="wjy9"><a href="https://magnum.travis-ci.com/ustc2015/igem" target="_blank"><img src="https://magnum.travis-ci.com/ustc2015/igem.svg?token=mKX17GB5mm6v1kppSB7o&amp;branch=master" alt="Build Status" title=""></a></p><div class="md-section-divider"></div><h1 data-anchor-id="un5y" id="biobless-igem-ustc-software-2015">BioBLESS - iGEM USTC Software 2015</h1><div class="md-section-divider"></div><h2 data-anchor-id="7dny" id="structure-of-the-project">Structure of the project</h2><ul data-anchor-id="1qdu">
<li><code class="code-black">frontend</code> Frontend code lies here</li>
<li><code class="code-black">backend</code>  Backend code locates here</li>
<li><code class="code-black">doc</code>      Documents for developers and users</li>
</ul><hr><div class="md-section-divider"></div><h1 data-anchor-id="ow76" id="backend">Backend</h1><ul data-anchor-id="pknb">
<li><code class="code-black">backend</code> Root of django</li>
<li><code class="code-black">backend/BioBLESS</code> Functional codes</li>
<li><code class="code-black">backend/test</code> Test case</li>
</ul><div class="md-section-divider"></div><h3 data-anchor-id="4obw" id="dependency">Dependency</h3><ul data-anchor-id="67iw">
<li><strong>django</strong> for website</li>
<li><strong>numpy &amp; scipy</strong> for calculation</li>
<li><strong>matplotlib</strong> for plotting</li>
<li><strong>networkx</strong> for graph</li>
</ul><hr><div class="md-section-divider"></div><h1 data-anchor-id="fgnq" id="frontend">Frontend</h1><ul data-anchor-id="w26y">
<li>jQuery-2.1.4:</li>
</ul><p data-anchor-id="dch2">URL: <a href="https://jquery.com/download/" target="_blank">https://jquery.com/download/</a> License: MIT</p><ul data-anchor-id="iq9f">
<li>Pixi.js-3.0.7:</li>
</ul><p data-anchor-id="tudr">URL: <a href="https://github.com/GoodBoyDigital/pixi.js" target="_blank">https://github.com/GoodBoyDigital/pixi.js</a> License: MIT</p><div class="md-section-divider"></div><h3 data-anchor-id="bvdu" id="build">Build</h3><ul data-anchor-id="vh21">
<li><p>npm install</p></li>
<li><p>npm run build</p></li>
</ul><div class="md-section-divider"></div><h3 data-anchor-id="nwd1" id="documentations">Documentations</h3><p data-anchor-id="9vf9">npm run build-doc</p><div class="md-section-divider"></div><h3 data-anchor-id="qh7s" id="unit-test">Unit Test</h3><p data-anchor-id="vxll">mocha-2.2.5:</p><p data-anchor-id="gmlv">URL: <a href="https://www.npmjs.com/package/mocha" target="_blank">https://www.npmjs.com/package/mocha</a> License: MIT</p><p data-anchor-id="02ey">chai-3.2.0:</p><p data-anchor-id="3ipt">URL: <a href="https://github.com/chaijs/chai" target="_blank">https://github.com/chaijs/chai</a> License: MIT</p><p data-anchor-id="jm3z">npm test</p></div>
</body>
</html>