<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info of package'{{ name }}'</title>
</head>
<body>
<h2>{{ name }}</h2>

<div>
    <div>
        <p><strong>Author </strong></p>
        <ul>
            <li>{{ author }}</li>
        </ul>
    </div>

    <div>
        <p><strong>Version</strong></p>

        <p> {{ version }}</p>
    </div>

    <div>
        <p><strong>Description</strong></p>

        <p> {{ description }}</p>
    </div>

    <div>
        <p><strong>Update Time</strong></p>

        <p> {{ updatetime }}</p>
    </div>

    <div>
        <p><strong>Dependency</strong></p>
        <ul>
            {% for i in dependency %}
                <li>{{ i }}</li>
            {% endfor %}
        </ul>
        <p>We will install dependencies which not exist in your computer or have a lower version.</p>
    </div>

    <div>
        <p><strong>Inherit</strong></p>
        <ul>
            {% for i in inherit %}
                <li>{{ i }}</li>
            {% endfor %}
        </ul>
        <p>This package will "replace" inherited ones.</p>
        <p>Reinstall a package can resume the replacement.</p>
    </div>

    <div>
        <p><strong>Platform</strong></p>

        <p> From {{ 105 }} to {{ 434 }}</p>
    </div>
</div>

<form accept-charset="UTF-8" action="/pkginst/{{ name }}" method="get">
    <input type="submit" value="Install"/>
</form>
</body>
</html>